table {
width: 800px;
height: 200px;
border-collapse: collapse;
display: inline-table;
}

th {
border-bottom: 1px solid black;
border: 2px solid black;
}

td {
text-align: center;
width: 200px;
border: 2px solid black;
}
